body {
    background-color: rgb(222, 228, 228);
    font-family: 'Open Sans', sans-serif;
    line-height: 160%;
    font-weight: 400;
    margin: 0;
    color: rgb(76, 83, 93);
}

h1,
h3 {
    display: inline-block;
}

h3 {
    margin-bottom: 0;
}

a:link, a:visited {
    color: rgb(241, 239, 158);
    text-decoration: none;
}

.head {
    width: 100%;
    text-align: center;
    background-color: rgb(206, 219, 228);
    padding-bottom: 20px;
}

.head h1 {
    font-weight: 300;
    font-size: 60px;
}

.head a {
    display: inline-block;
    cursor: pointer;
    font-size: 28px;
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
    color: rgb(76, 83, 93);
    outline: 0;
}

#nav-selected {
    font-size: 44px;
}

.head a .selected {
    font-size: 44px;
}

/*//////////////////////
////////TERMINAL////////
//////////////////////*/

.terminal {
    background-color: #333;
    border-radius: 3px;
    color: #DDD;
    font-family: "Courier New", Courier, monospace;
    margin: 20px auto 0 auto;
    width: 800px;
}

.terminal-title {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #222;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    position: relative;
}

.terminal-button {
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    position: absolute;
    right: 9px;
    top: 9px;
}

.terminal-button:focus {
    background-color: #FAF;
}

#terminal-button-close {
    background-color: red;
}

#terminal-button-close:hover {
    background-color: darkred;
}

#terminal-button-maximize {
    background-color: orange;
    right: 32px;
}

#terminal-button-maximize:hover {
    background-color: darkgoldenrod;
    right: 32px;
}

#terminal-button-minimize {
    background-color: green;
    right: 55px;
}

#terminal-button-minimize:hover {
    background-color: darkgreen;
}

.terminal-content {
    padding: 20px;
    max-height: 300px;
    overflow-y: scroll;
}

.terminal-content::-webkit-scrollbar {
    width: 7px;
}

.terminal-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(82, 82, 82);
    visibility: hidden;
}

.terminal-content:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
